[Unit]
Description="Gauge for FAUCET OpenFlow switch controller"
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/faucet/start-gauge.sh
Restart=always

[Install]
WantedBy=multi-user.target

