## Replace IFACE_NAME with real interface value
## This file needs to be placed under /etc/network/interfaces.d/
## as enp2s0 or enp3s0 or enp5s0.  Replace globally in this file
## IFACE_NAME with enp2s0 or enp3s0 or enp5s0 as per above example

auto IFACE_NAME
iface IFACE_NAME inet manual
  up ip link set dev $IFACE up
  down ip link set dev $IFACE down

auto vlan500
iface vlan500 inet manual
  vlan-raw-device IFACE_NAME

auto vlan600
iface vlan600 inet manual
  vlan-raw-device IFACE_NAME
