# all the log objects' attribute
log -syslog -ident lagopus -debuglevel 0
log -packetdump ""

# all the datastore objects' attribute
datastore -addr 0.0.0.0 -port 12345 -protocol tcp -tls false

# all the agent objects' attribute
agent -channelq-size 1000 -channelq-max-batches 1000

# all the tls objects' attribute
tls -cert-file /usr/local/etc/lagopus/catls.pem -private-key /usr/local/etc/lagopus/key.pem -certificate-store /usr/local/etc/lagopus -trust-point-conf /usr/local/etc/lagopus/check.conf

# all the snmp objects' attribute
snmp -master-agentx-socket tcp:localhost:705 -ping-interval-second 10

# all the namespace objects' attribute

# all the policer-action objects' attribute

# all the policer objects' attribute

# all the queue objects' attribute

# all the interface objects' attribute
interface :interface01 create -type ethernet-rawsock -device enp2s0 -mtu 1500 -ip-addr 127.0.0.1
interface :interface02 create -type ethernet-rawsock -device enp3s0 -mtu 1500 -ip-addr 127.0.0.1
interface :interface03 create -type ethernet-rawsock -device enp5s0 -mtu 1500 -ip-addr 127.0.0.1

# all the port objects' attribute
port :port01 create -interface :interface01
port :port02 create -interface :interface02
port :port03 create -interface :interface03

# all the channel objects' attribute
channel :channel01 create -dst-addr 10.10.11.19 -dst-port 6653 -local-addr 0.0.0.0 -local-port 0 -protocol tcp

# all the controller objects' attribute
controller :controller01 create -channel :channel01 -role equal -connection-type main

# all the bridge objects' attribute
bridge :bridge01 create -dpid 4157039288913936 -controller :controller01 -port :port01 1 -port :port02 2 -port :port03 3 -fail-mode secure -flow-statistics true -group-statistics true -port-statistics true -queue-statistics true -table-statistics true -reassemble-ip-fragments false -max-buffered-packets 65535 -max-ports 255 -max-tables 255 -max-flows 4294967295 -packet-inq-size 1000 -packet-inq-max-batches 1000 -up-streamq-size 1000 -up-streamq-max-batches 1000 -down-streamq-size 1000 -down-streamq-max-batches 1000 -block-looping-ports false

# policer-action objects' status

# policer objects' status

# queue objects' status

# interface objects' status
interface :interface01 enable
interface :interface02 enable
interface :interface03 enable

# port objects' status
port :port01 enable
port :port02 enable
port :port03 enable

# channel objects' status
channel :channel01 enable

# controller objects' status
controller :controller01 enable

# bridge objects' status
bridge :bridge01 enable

