dist: bionic
sudo: required
addons:
  apt:
    update: true
    packages:
      - librsvg2-bin
      - parallel
cache:
  pip: true
stages:
  - test
  - name: deploy
    if: repo = faucetsdn/faucet AND tag IS present
env:
  global:
    - FAUCET_TEST_IMG=faucet/tests
    - MATRIX_SHARDS=6
script:
  - ./travis/runtests.sh
jobs:
  include:
    - &unit-test
      stage: test
      language: python
      python: 3.5
      env:
        - MATRIX_SHARD=unittest
        - PYTYPE=true
    - <<: *unit-test
      python: 3.6
      env:
        - MATRIX_SHARD=unittest
        - BUILD_DOCS=true
        - CODECOV_UPLOAD=true
        - PYLINT=true
        - PYTYPE=true
    - <<: *unit-test
      python: 3.7
      env:
        - MATRIX_SHARD=unittest
        - PYTYPE=true
    - <<: *unit-test
      python: 3.8
      env:
        - MATRIX_SHARD=unittest
        - PYTYPE=true
    - &integration-test
      stage: test
      env: MATRIX_SHARD=sanity
      language: bash
      before_install:
        - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
        - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
        - sudo apt-get update
        - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
      services:
        - docker
    - <<: *integration-test
      env: MATRIX_SHARD=0
    - <<: *integration-test
      env: MATRIX_SHARD=1
    - <<: *integration-test
      env: MATRIX_SHARD=2
    - <<: *integration-test
      env: MATRIX_SHARD=3
    - <<: *integration-test
      env: MATRIX_SHARD=4
    - <<: *integration-test
      env: MATRIX_SHARD=5
    - <<: *integration-test
      env: MATRIX_SHARD=generative-unit
    - <<: *integration-test
      env: MATRIX_SHARD=generative-integration
    - stage: deploy
      language: python
      python: 3.6
      script: skip
      deploy:
        provider: pypi
        on:
          tags: true
        user: __token__
        password:
          secure: J+lHnTndREL8koqpTudVVxVwRme/dKgKERaTbC/t0INTHXNtYaaIQifiNWwR3cn2eV4y1SsNRYuR8R0hsWw7fX9Vckbr4DHl/SgbhOMARKVHvaAoQ5bWi6kFWyRzD7TB08i0En6JS1tPriPuigsrOqVqyQn3IJuWuMsEoZLnAYbEYY8bV+RLAhJVH9po1Gn9n/aH2k6ycrvvYemHh4b0B1GoXOCa4ITZ4a34Fl2e2Z4/tIu4WF89dYeJeKtzdRQBTS4yTSKKpiD/Fh+Z7C2iw+0aoSnub7zjeMhjnVWvH4i6yvQfXwU8UjAtOoWVoXt3ShJ/9F2XT5PA57qG0GHmbWjyKNsdHmnr+1QmVJZ2K4F+xMHXNFlOAGLN3/Faxmx9eii+4ruM5sAN88f/Go/1d85CnE1m/QmA7vrO0rQXa63czvZ5IAss1rHVlvmRL4jNSdCaX3xchAYREhle78P/RuM5HD3HPI03oGQMqwkycDQpaPF2BTWGwVj7eymiGFdFEROEtMolZViwN/l05WxZRCiSghPhI7cmfLz0yFYfuROjeKH54n5fj9HOHnwydmF4jaKm/GRfDNA824CysynFioqW9Fr+pfS76ZpTsp2OOqhsEzU0X6B9/SYTsLXO4OBo4dCF9/U1EkHpyQSJ0serFm/JoTzHaI8az3Zk7digawM=
