sudo: required
group: edge
language: python
services:
  - docker
addons:
  apt:
    packages:
      - openvswitch-switch
python:
  - "3.5"
install:
  - "pip3 install -r requirements.txt"
  - "python3 setup.py sdist"
  - "pip3 install dist/*tgz"
script:
  - "cd ./tests"
  - "./test_min_pylint.sh"
  - "python3 ./test_config.py"
  - "python3 ./test_check_config.py"
  - "python3 ./test_valve.py"
  - "cd .."
  - "docker build -t reannz/faucet-tests -f Dockerfile.tests ."
  - "sudo docker run --privileged -ti reannz/faucet-tests"
