sudo: required
dist: trusty
language: python
python:
  - '3.4'
  - '3.6'
services:
  - docker
before_install:
  - sudo ./docker/retrycmd.sh "apt-get -qy update"
  - sudo ./docker/retrycmd.sh "apt-get install -qy openvswitch-switch"
  - sudo ./docker/retrycmd.sh "apt-cache madison docker-ce"
  - sudo ./docker/retrycmd.sh "apt-get install docker-ce=18.03.1~ce-0~ubuntu"
cache:
  pip: true
env:
  global:
    - FAUCET_TEST_IMG=faucet/tests
    - MATRIX_SHARDS=5
  matrix:
    - MATRIX_SHARD=sanity
    - MATRIX_SHARD=0
    - MATRIX_SHARD=1
    - MATRIX_SHARD=2
    - MATRIX_SHARD=3
    - MATRIX_SHARD=4
install:
  - ./docker/pip_deps.sh
  - python3 setup.py -q sdist
  - pip3 install -q dist/*tar.gz
  - pip3 show faucet
script:
  - ./run-travis-test.sh
deploy:
  provider: pypi
  user: faucet
  password:
    secure: FtdHfFJ/TXojISlzt0wJULGHEONWmfDmCNsQ6b8DDlOKUjSXCJ+Z6f4f3oeJCZ6V93ELYahmGrfz/GbKQlZT0xx8i+QcdJ7BkV2TvGq+oUvyfgGLvjeihy5k/22rWDrYFwJJaAPAbS8GmaJWhNYfI/POq4u4JxXM5uOfjoslIlM/Q3JLIPccmk9zeNBFK1z55yaCdHvW094uby+8Tu6lCJop0hyXoImOdVp/XaFXOOlPuxrXu7zCjd+kczB9spQmOgY0cZbY7kX4wX5bf540YCl4yXLpv9v/ZcACkZHY9Kb/FwTvBClfNhPJ+Ycwdkqxm4cj1dHpUvZQbF+IQTOklv83gjf7+e1owZuURm6TBTumecYPd4On1ATpIxIfqjaziVtyZRTjkYgX9yWoIHxbr6H0y+Duzr8gmYDafPAm9IKMsh1H1GIotkd+/1pJPTDnjmMD/Ab2Ad2qVosYVBFJcdCrCkAVsTA48JJQLpZULEf1JbSL4Vq23nebSMNmS4Gtsqqx9Z6iltILl5p/S/wgcOoXYvaDH7QIxPztkNZGdy3uHpLAyl6sYYP+2Mcpdxx8IcAPMNP7Iv1jw4cJm2ctWJdlg/LNoY1dh7HBbw1kFZ628NdnE8MID/b39g/vefYK9/JIVezQ6Ew4vLHXtnI28LRbx2wxwyZ4nUHZ3lTJM9E=
  on:
    repo: faucetsdn/faucet
    tags: true
