sudo: required
language: python
services:
  - docker
addons:
  apt:
    packages:
      - openvswitch-switch
python:
  - "2.7"
install:
  - "pip install -r requirements.txt -r test-requirements.txt"
script:
  - "pylint -E faucet/*.py faucet/aruba/*.py"
  - "cd ./tests"
  - "python ./test_config.py"
  - "python ./test_check_config.py"
  - "python ./test_valve.py"
  - "cd .."
  - "docker build -t reannz/faucet-tests -f Dockerfile.tests ."
