language: python
python:
  - "2.7"
install:
  - "pip install -r requirements.txt -r test-requirements.txt"
script:
  - "pylint -E faucet/*.py faucet/aruba/*.py"
  - "cd ./tests"
  - "python ./test_config.py"
  - "python ./test_check_config.py"
  - "python ./test_valve.py"
