version: '2'
services:
    influxdb:
        restart: always
        image: 'influxdb:1.3.0'
        ports:
            - '8086'
            - '8083'
        volumes:
            - '/opt/influxdb/shared/data/db:/var/lib/influxdb'
        environment:
            PRE_CREATE_DB: 'faucet'
            ADMIN_USER: 'faucet'
            INFLUXDB_INIT_PWD: 'faucet'

    couchdb:
        restart: always
        image: 'couchdb:1.6'
        volumes:
            - '/opt/couchdb:/usr/local/var/lib/couchdb'
        environment:
            COUCHDB_USER: 'couch'
            COUCHDB_PASSWORD: '123'

    prometheus:
        restart: always
        image: 'prom/prometheus:v1.7.1'
        ports:
            - '9090:9090'
        volumes:
            - '/opt/prometheus/:/prometheus'
            - './etc/prometheus/prometheus-docker-compose.yml:/etc/prometheus/prometheus.yml'
            - './etc/prometheus/faucet.rules:/etc/prometheus/faucet.rules'
        links:
            - faucet

    grafana:
        restart: always
        image: 'grafana/grafana:4.4.1'
        ports:
            - '3000:3000'
        volumes:
            - '/opt/grafana:/var/lib/grafana'
        links:
            - influxdb
            - prometheus

    gauge:
        restart: always
        build:
            context: .
            dockerfile: Dockerfile.gauge
        image: 'faucet/gauge:1.5.7'
        environment:
           - GAUGE_CONFIG=/etc/ryu/faucet/gauge.yaml
        volumes:
            - '/var/log/ryu/faucet:/var/log/ryu/faucet'
            - '/etc/ryu/faucet:/etc/ryu/faucet'
        ports:
            - '6654:6653'
            - '9303'
        links:
            - couchdb
            - influxdb

    faucet:
        restart: always
        build:
            context: .
            dockerfile: Dockerfile
        image: 'faucet/faucet:1.5.7'
        volumes:
            - '/var/log/ryu/faucet:/var/log/ryu/faucet'
            - '/etc/ryu/faucet:/etc/ryu/faucet'
        ports:
            - '6653:6653'
            - '9302'
