version: '2'
services:
    influxdb:
        restart: always
        image: 'arm32v7/influxdb:1.6'
        ports:
            - '8086'
            - '8083'
        volumes:
            - '${FAUCET_PREFIX}/opt/influxdb/shared/data/db:/var/lib/influxdb'
        environment:
            PRE_CREATE_DB: 'faucet'
            ADMIN_USER: 'faucet'
            INFLUXDB_INIT_PWD: 'faucet'

    prometheus:
        restart: always
        build:
            context: https://github.com/faucetsdn/docker-prometheus.git
            dockerfile: Dockerfile.pi
        image: 'faucet/prometheus-pi:2.10.0'
        user: 'root'
        ports:
            - '9090:9090'
        volumes:
            - '${FAUCET_PREFIX}/opt/prometheus/:/prometheus'
            - './etc/prometheus/prometheus-docker-compose.yml:/etc/prometheus/prometheus.yml'
            - './etc/prometheus/faucet.rules.yml:/etc/prometheus/faucet.rules.yml'
        links:
            - faucet
            - gauge

    grafana:
        restart: always
        image: 'grafana/grafana-arm32v7-linux:6.2.4'
        user: 'root'
        ports:
            - '3000:3000'
        volumes:
            - '${FAUCET_PREFIX}/opt/grafana:/var/lib/grafana'
        links:
            - influxdb
            - prometheus

    gauge:
        restart: always
        build:
            context: .
            dockerfile: Dockerfile.gauge.pi
        image: 'faucet/gauge-pi:latest'
        environment:
            GAUGE_CONFIG: '/etc/faucet/gauge.yaml'
        volumes:
            - '${FAUCET_PREFIX}/var/log/faucet:/var/log/faucet'
            - '${FAUCET_PREFIX}/etc/faucet:/etc/faucet'
        ports:
            - '6654:6653'
            - '9303'
        links:
            - influxdb

    faucet:
        restart: always
        build:
            context: .
            dockerfile: Dockerfile.faucet.pi
        image: 'faucet/faucet-pi:latest'
        volumes:
            - '${FAUCET_PREFIX}/var/log/faucet:/var/log/faucet'
            - '${FAUCET_PREFIX}/etc/faucet:/etc/faucet'
        ports:
            - '6653:6653'
            - '9302'
        environment:
            FAUCET_CONFIG_STAT_RELOAD: '${FAUCET_CONFIG_STAT_RELOAD}'
            FAUCET_EVENT_SOCK: '${FAUCET_EVENT_SOCK}'
