include LICENSE
include README.rst
include faucet_deployment.png
recursive-include src/cfg *
recursive-include src/ryu_faucet *.py
include src/ryu_faucet/org/onfsdn/faucet/aruba/*.json
recursive-include src/docs *
recursive-include src/tests *
