-r requirements.txt
bitstring
codecov
concurrencytest
deb_pkg_tools
exabgp==4.1.2
importlab>=0.3.1
netifaces
packaging
pylint
pytest-cov
pytype==2019.7.11
requests
-e git://github.com/gpotter2/scapy.git@e410a79bfaf667a5e9b351ce72011d4f169a3dbb#egg=scapy
