#!/usr/bin/make -f

# output every command that modifies files on the build system.
export DEBINSTALL=1
export PYBUILD_NAME=faucet
export PYBUILD_AFTER_INSTALL=rm -rf '{destdir}/usr/etc'

%:
	dh $@  --with python3 --buildsystem=pybuild

override_dh_installinit:
	dh_installinit --noscripts

override_dh_auto_install:
	dh_auto_install

override_dh_auto_build:
	dh_auto_build

override_dh_auto_test:
	dh_auto_test -- --system=custom --test-args='{interpreter} -m unittest discover tests/unit/faucet/ && {interpreter} -m unittest discover tests/unit/gauge/'
