[Unit]
Description="FAUCET OpenFlow switch controller"
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/start-faucet.sh
Restart=always

[Install]
WantedBy=multi-user.target

